/* Air between sections */
h2 {
	padding-top: 5%;
}

code,
img {
	border-radius: 5px;
	max-width    : 100%;
	height       : auto;
}

code {
	font-family: 'Comic Mono', monospace;
	font-weight: bolder;
}