p,
h1,
h2 {
	font-family: 'Domine', serif;
}

/* Air between sections */
h2 {
	padding-top: 5%;
}

code,
img {
	border-radius: 5px;
	max-width    : 100%;
	height       : auto;
}

code {
	font-family: 'Comic Mono', monospace;
	line-height: 1.2rem;
	font-weight: bolder;
}